.container{
	width:75%;
	text-align:center;
	margin-top:50px;
	border-radius:5px;
	background-color:#A4897D;
	padding:1em;
}
.title{
	font-style:bold;
	font-size:1.5em;
	padding:1.5em;
	color:#fff;
}
button{
	display:inline;
}
.images{
	transition:linear all 1s;
}
.images:hover{
	transform:scale(1.1);
}
.images.ng-hide-enter{
	opacity:1;
}
.images.ng-hide-enter.ng-hide-enter-active
{
	opacity:0;
	margin-top:40px;
}
.box{
	margin-bottom:1em;
}